.container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	background-color: aquamarine;
	border: 1px solid black;
	border-radius: 5px;
}
  

.animation-container{
	width: 100px;
	height: 40px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 15px;
	padding: 10px;
	background-color: aqua;
	text-align: center;
}


/* @keyframes : los keyframe, nos permiten crear nuestrar animaciones con diferentes tipos de propiedades que querramos darle. El keyframe, se crea al igual que un estilo clasico de css (utilizando llaves), pero antes, luego de poner la palabra keyframes, debemos darle un nombre a nuestra animacion */

/*? EFECTO DESVANECER*/

@keyframes desvanecer {
	/* puedo decir, que las propeidades a aplicar, van desde un punto a otro, o, sino, que van en un determinado porcentaje hasta completar*/
	from {opacity: 1;}
	to {opacity: 0;}
}

#container-desvanecer:hover{
	cursor: pointer;
	animation-name: desvanecer; /*llamamos al nombre de nuestro keyframes*/
	animation-duration: 2s; /* indicamos cuanto va a durar ese efecto*/

}

/* Efecto MOVIMIENTO: puede desplazarse en varias direcciones*/

@keyframes deslizar {
	from {transform: translateY(0);} /* translateX para eje horizontal. translateY para el vertical*/
	to {transform: translateY(150px);} /* numeros positivos o negativos, para decidir sobre que direccion del eje se va a mover*/
}

#container-deslizar:hover{
	cursor: pointer;
	animation-name: deslizar;
	animation-duration: 3s;

}

/*Efecto Girar: */

@keyframes girar {
	from{transform: rotate(0);} /*gira en uan proporcion de grados*/
	to{transform: rotate(360deg);} /* indicar la propiedad con grados*/
}

#container-girar:hover{
	cursor: pointer;
	animation-name: girar;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	/* animation: girar 3s infinite ; */
}

/*efecto cambio de colores: vamos a cambiar el fondo cada vez que nos posicionemos encima*/

@keyframes cambiar-fondo {
	0%{background-color: red;} /* el % refiere a la division de tiempo*/
	25%{background-color: green;}
	50%{background-color: blue;}
	100%{background-color: yellow;}
}

#container-cambio-fondo:hover{
	cursor: pointer;
	animation-name: cambiar-fondo;
	animation-duration: 6s;
}

/*Efecto de escala: vamos a aumentar su tamaño en una proporcion*/

@keyframes escalar {
	from{transform: scale(1);} /* la escala 1 es la inicial*/
	to{transform: scale(-1);} /*podemos elegir ejeX e ejeY*/

	/*tambien podemos decidir QUE ESCALAR
	from{transform: scaleY(1);}
	to{transform: scaleY(3);}*/
}

#container-escalar:hover{
	cursor: pointer;
	animation: escalar 3s ;
}

/* efecto perspectiva: */

@keyframes perspectiva {
	from{transform: perspective(150px) rotateY(0)}
	to{transform: perspective(150px) rotateY(-360deg) } /* los grados pueden ser positivos o negativos, y en base a cualquiera de los ejes (X o Y)*/
}

#container-perspectiva:hover{
	cursor: pointer;
	animation: perspectiva 2s infinite;
}