/*Etiquetas*/

form {
    display: flex;
    margin: 10px;
    font-family: Arial, sans-serif;
    align-items: flex-start;
    flex-direction: column;
}

label {
    margin-bottom: 1px;
}

input,select {
    padding: 5px;
    margin-bottom: 1px;
    border-radius: 5px;
    border: 1px solid #a4a4a4;
}

select {
    width: 20%;
}

button {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
    color: #fff;
}

#cancelar {
    background-color: rgb(255, 82, 82);
}

#guardar {
    background-color: green;
}

#cancelar:hover {
    background-color: rgb(152, 74, 74)
}

#guardar:hover{
    background-color: rgb(1, 80, 1)
}