<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Esta es la cabecera, la que contiene info que se va a utilizar dentro del HTML -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js"></script>
    <title>HTML: etiquetas</title>
</head>
<body>
    <h1>Titulo grande</h1>
    <h6>Titulo mas pequeño</h6>

    <p> Esto es un parrafo en HTML</p>
    <p>"Manuelita vivia en pehuajo,<br>
        pero un dia se marcho. <br>
        Nadie supo bien porque, <br>
        a Paris ella se fue" </p>

    <u> Esto es un texto subrayado</u><br>
    <small> Este texto es mas pequeño de lo normal</small><br>
    <big> Este texto es mas grande de lo normal </big><br>
    <em> Este texto esta en cursiva</em><br>
    <s>Este texto esta tachado</s><br>

    <p> Dentro de este parrafo pondremos letras <br> <small>chicas</small> , <big>grandes</big> , <br> <u>subrayadas</u>, <s>tachadas</s>,y <em>cursiva</em> 
    </p>
    
    <p> Parrafo comun y con un <sub>Sub indice</sub></p>
    <p><em>"Metodologias para el uso de HTML"</em> <sub>1</sub></p>

    <h4>Lista Desordenada</h4>
    <ul>
        <li>Linea 1</li>
        <li>Linea 2</li>
        <li>Linea 3</li>
    </ul>

    <h4>Lista ordenada</h4>
    <ol type="">
        <li>Mezclar 500 harina , 400 agua ,25grs de levadura y dejar reposar</li>
        <li> Agregar el resto de harina y amasar 15 minutos</li>
        <li>Luego de reposar, llevar a una pizzera, estirar con los dedos con aceite</li>
        <li >Llevar al horno por 30 minutos</li>
    </ol>

    <h5 >
        Siguientes pasos:
    </h5>
    <ol start="5">
        <li> Servir y disfrutar</li>
    </ol>

    <img src="../img/147.jpg" alt="" width="200"> <!-- Podemos darle una ruta LOCAL O REMOTA--> <br>
    <img src="https://images.wikidexcdn.net/mwuploads/wikidex/7/77/latest/20150621181250/Pikachu.png" alt="" width="300">

    <iframe width="300" height="150" src="https://www.youtube.com/embed/Easqg4SUl2Q" title="Hernán Cattáneo at the Cercle Festival 2022 (A380 stage) in France" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    
</body>
</html>